label{
    margin-top: 10px;
}

stats{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

button {
    border-radius: 25px;
    background: rgba(179, 179, 236, 0.719);
    color: white;
    font-size: 20px;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    user-select: none;
}

.tab-padding{
    padding-left: 15px;
    margin-top: 4px;
}

.double-tab-padding{
    padding-left: 30px;
    margin-top: 4px;
}

#start-button{
    margin-top: 40px;
}

#scores-game-start{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    flex-wrap: nowrap;
}

#eredmeny{
    border: 3px solid black;
    background: rgba(250, 211, 250, 0.137);
    border-radius: 10px;
    padding: 0px 15px;
    /* float: center; */
    letter-spacing: 2px;
    line-height: 1;
}


#question{
    /* color: tomato; */
    background: rgb(204, 231, 163);
    /* align-items: center; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin:auto;*/
    text-align: center;
    font-family: 'DM Mono', monospace;
    font-size: 20px;
    margin: 0 0 40px 0;
}

#ingame-buttons{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 20px;
}

#ingame-buttons > *{
    display: flex-item;
}

#optiuni-button{
    background: rgba(0, 0, 0, 0.233);
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 2px 4px ;
}

#optiuni{
    margin-top: 5px;
    padding: 20px 25px;

    border-radius: 10px;
    background: whitesmoke;
    display: none;
    flex-direction: column;
    /* justify-content: left; */
    align-items: left;
    overflow: auto;
    flex: 1 1 auto;
    flex-wrap: wrap;

}

/* #optiuni > *{
    display: block;
} */

#answer-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex: 1 1 auto;
    flex-wrap: wrap;
    /* margin: 0 30px; */
}

#answer-options > p{
    background: rgb(231, 240, 180);
    border-radius: 24%/30%;
    padding: 15px;
    margin: 10px;
    font-size: 17px;
    cursor: pointer;
}



