{% extends "base.html" %}

{% block title %}
bacalaureat: joc
{% endblock title %}

{% block imports %}
    <script src="{{pure_path}}/res/js/joc.js"></script>
    <link rel="stylesheet" href="{{pure_path}}/res/css/joc.css">
{% endblock imports %}

{% block content %}
    <div id="scores-game-start">
        <div id="eredmeny" style="display: none;">
            <h4 id=score>scorul tău: </h4>
            <p id="time">timpul: </p>
            <g><p id="corrects">răspunsuri corecte: </p></g>
            <r><p id="incorrects">răspunsuri incorecte: </p></r>
        </div>
        <label id="game-mode-selector" >
            <h4>szabad</h4>
            <input type="range" min=0 max=1 value=1 class="minimalistic-range" id="game-mode-switch">
            <h4>kötött</h4>
          </label>
        <button id="start-button" onclick="on_start()">start</button>
    </div>
    <div id="game" class="unselectable" style="display: none;">
        <stats>
            <div>
                <h5 id="punctaj">punctaj: 0</h5>
                <h5 id="timer"></h5>
            </div>
            <div>
                <g><p id="raspuns-corect"></p></g>
                <r><p id="raspuns-incorect"></p></r>
            </div>
        </stats>
        <game-components>
            <p id="question">
                
            </p>
            <div id="typeins">
                <input type="text" id="typein-answer" type="search"><br>
                <button onclick="evaluate_typein_solution()" id="typein-button">check</button>
            </div>
            <r><p id="typein-solution" class="centered"></p></r>
            <div id="answer-options">
                
            </div>
        </game-components>
        <div id="ingame-buttons">
            <button onclick="on_skip()">skip</button>
            <button onclick="stop_game()">stop</button>
        </div>
    </div>
    <button id="optiuni-button" class="collapsible">opțiuni▼</button>
    <div id="optiuni" class="unselectable content" visible="false">
        <label for="opere-option">trăsături operelor: 
            <input type="checkbox" id="opere-option" onchange="children_enabler(this, ['anul-option', 'artist-option', 'perioada-option', 'anulautor-option', 'curent-option'])">
        </label>
        <label for="anul-option" class="tab-padding">an: 
            <input type="checkbox" id="anul-option" onchange="Anul.bind(this)">
        </label>
        </label>
        <label for="artist-option" class="tab-padding">artist: 
            <input type="checkbox" id="artist-option" onchange="Artiste.bind(this)">
        </label>
        </label>
        <label for="curent-option" class="tab-padding">curent: 
            <input type="checkbox" id="curent-option" onchange="Curente.bind(this)">
        </label>
        </label>
        <label for="perioada-option" class="tab-padding">perioadă: 
            <input type="checkbox" id="perioada-option" onchange="Perioade.bind(this)">
        </label>
        <label for="anulautor-option" class="tab-padding">autor-an: 
            <input type="checkbox" id="anulautor-option" onchange="AnulAutor.bind(this)">
        </label>

        <label for="cuvinte-option">învățarea cuvintelor: 
            <input type="checkbox" id="cuvinte-option" onchange="children_enabler(this, ['teme-option', 'sentimente-option', 'trasaturi-option',])">
        </label>

        <label for="teme" class="tab-padding">teme: 
            <input type="checkbox" id="teme-option" class="tab-padding" onchange="Teme.bind(this)" name="teme-option" value="show">
        </label>
        <label for="sentimente-option" class="double-tab-padding">sentimente: 
            <input type="checkbox" id="sentimente-option" name="sentimente-option" onchange="Sentimente.bind(this)" value="show">
        </label>
        <label for="trasaturi-option" class="tab-padding">trăsături: 
            <input type="checkbox" id="trasaturi-option" name="trasaturi-option" onchange="children_enabler(this, ['morale-option','fizice-option'])" value="show">
        </label>
        <label for="morale-option" class="double-tab-padding">morale: 
            <input type="checkbox" id="morale-option" name="morale-option" onchange="Morale.bind(this)" value="show">
        </label>
        <label for="fizice-option" class="double-tab-padding">fizice: 
            <input type="checkbox" id="fizice-option" name="fizice-option" onchange="Fizice.bind(this)" value="show">
        </label>
        <label for="din_compuneri-option" class="tab-padding">din compuneri: 
            <input type="checkbox" id="din_compuneri-option" onchange="CuvinteDinCompuneri.bind(this)" value="show">
        </label>
        <label for="answer-num-option">numărul răspunsurilor: </label>
        <input type="range" min="2" max="10" value="4" class="slider" id="answer-num-option">
    </div>



    <style>
        .content {
          transition: max-height 0.2s ease-out;
        }
        </style>
        
        <script>
        let coll = document.getElementsByClassName("collapsible");
        let i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.getAttribute("visible")=="true"){
              content.style.display = "none";
              content.setAttribute("visible", "false")
              this.textContent = this.textContent.slice(0, -1) + "▼";
            } else {
                content.style.display = "flex";
                content.setAttribute("visible", "true")
                this.textContent = this.textContent.slice(0, -1) + "▲";
            }
          });
        }
        </script>

{% endblock content %}