{% extends "base.html" %}

{% block imports %}
    <script src="{{pure_path}}/res/js/joc.js"></script>
    <link rel="stylesheet" href="{{pure_path}}/res/css/joc.css">
{% endblock imports %}

{% block content %}
    <button id="start-button" onclick="on_start()">Start</button>
    <div id="game" class="unselectable" style="display: none;">
        <stats>
            <h5 id="punctaj">punctaj: 0</h5>
            <h5 id="timer"></h5>
        </stats>
        <game-components>
            <p id="question">
                
            </p>
            <div id="answer-options">
                
            </div>
        </game-components>
        <button onclick="TemaKor.generate_random_round()">skip</button>
    </div>
    
    <div id="optiuni" class="unselectable">
        <label for="teme">teme: 
            <input type="checkbox" id="sentimente-option" name="teme-option" value="show">
        </label>
        <label for="sentimente" class="tab-padding">sentimente: 
            <input type="checkbox" id="sentimente-option" name="sentimente-option" value="show">
        </label>
        <label for="trasaturi">trăsături: 
            <input type="checkbox" id="trasaturi-option" name="trasaturi-option" value="show">
        </label>
        <label for="morale" class="tab-padding">morale: 
            <input type="checkbox" id="morale-option" name="morale-option" value="show">
        </label>
        <label for="fizice" class="tab-padding">fizice: 
            <input type="checkbox" id="fizice-option" name="fizice-option" value="show">
        </label>
        <label for="fanswer-num-option">numărul răspunsurilor: </label>
        <input type="range" min="2" max="10" value="4" class="slider" id="answer-num-option">
    </div>

{% endblock content %}