<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="description" content="Bacalaureat- interaktív segédanyag magyarnyelvűeknek a román érettségire készüléshez.">
        <meta name="keywords" content="román, érettségi, român, BAC, bacalaureat, learn, tanulás, învață, interactiv, interaktív">
        <meta name="author" content="Leswell">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        
        <title>Bac</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Lobster&family=Raleway:wght@100;400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{pure_path}}/res/css/default.css">

        <script src="{{pure_path}}/res/js/tools.js"></script>
        {% block imports %}
        {% endblock imports %}
    </head>

    <body>
        <h1 class="logo"><a href="{{pure_path}}/index.html">Bac</a></h1>
        {% block content %}
        {% endblock content %}
    </body>
</html>