{% extends "base.html" %}

{% block content %}
    <div class="centered">
        <h2 class="szeles">Bacalaureat</h2>
        <p><a href="{{pure_path}}/opere.html">Opere</a></p>
        <p><a href="{{pure_path}}/opere_lirice.html">Opere lirice</a></p>
        <p><a href="{{pure_path}}/teme.html">Teme</a></p>
        <p><a href="{{pure_path}}/sentimente.html">Sentimente</a></p>
        <p><a href="{{pure_path}}/figuri_de_stil.html">Figuri de stil</a></p>
        <p><a href="{{pure_path}}/trasaturi.html">Trăsături</a></p>
        <p><a href="{{pure_path}}/rolul_notatilor.html">Rolul notațiilor autorului</a></p>
        <p><a href="{{pure_path}}/perspectiva_narativa.html">Perspectiva narativă</a></p>
        <p><a href="{{pure_path}}/modalitati_de_caracterizare.html">Modalități de caracterizare</a></p>
        <p><a href="{{pure_path}}/mijloacele_artistice.html">ideea poetică și mijloacele artistice</a></p>
        <h4 class="szeles">Jocuri</h4>
        <p><a href="{{pure_path}}/jocuri/limb.html">Limb</a></p>
    </div>
    
{% endblock content %}