{% extends "base.html" %}

{% block content %}
<h2>Rolul Notațiilor Autorului</h2>
 <p class="centered"><b>Prezintă, în minimum 50 de cuvinte, rolul notațiilor autorului în fragmentul de mai jos.</b></p>
 <div class="compunere">
    <p>Notațiile autorului sunt acele elemente ale textului dramatic în care dramaturgul 
        prezintă <g>timpul și locul acțiunii</g>, <w>lista de personaje</w>, <r>elemente de decor ale 
        scenei</r> și reprezintă <k>o modalitate de caracterizare directă a personajelor</k>.</p>
    <p>Indicațiile scenice scrise în paranteze indică <r>mișcarea</r>, <g>vorbirea</g>, <y>gestica</y>, 
        <w>mimica</w> și <k>comportamentul personajelor</k>.</p>
    <p>În textul de mai jos, notația autorului "<trans limb="citat">____________</trans>" 
        prezintă __<g>_</g><y>_</y><r>_</r><k>_</k><w>_</w>__ <i>(de exemplu locul și timpul acțiunii)</i> precum și
    indicația scenică "<trans limb="citat">____________</trans>" indică __<g>_</g><y>_</y><r>_</r><k>_</k><w>_</w>__.</p>
 </div>
{% endblock content %}